@import "theme.css";
html {
    font-size: 62.5%;}

body{
    margin: 0;
    font-weight: 700;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

    
}

.main{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 30px;
    margin:10rem auto ;
    height:50%;
    width: 25rem;  

}
.result{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color:white;
    height: 30%;
    text-align: center;
}
.current-number{
justify-content: flex-end;
text-align: flex-end;
margin:0.6rem 1rem;
height: 50%;
}
.previous-number{
 padding-top: 1rem;
}
.container{
    
    display: grid;
    height: 70%;
    margin: 2rem;
    grid-template-columns:  repeat(4,5rem);
    grid-template-rows: repeat(5,5rem);   
    justify-content: center;
    grid-gap: 0.5rem;
 

}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(33, 32, 32);
    width: 5rem;
    height: 5rem;
    border-radius:50% ;
    align-self: center;
    justify-self: center;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
  transition:0.4s
}
.sign{
background-color: white;
opacity: 0.9;

}
.sign:hover{
    opacity: 1;
    transform: scale(1.09)
}
.orange{
    background-color: rgb(221, 121, 34);
    opacity: 0.9;
    transition: 0.1s ease-in-out;
    color: white;
}
.orange:hover{
background-color:rgb(239, 178, 124); 
opacity: 1;
transform: scale(1.09)
}
.num{
    background-color: rgba(158, 150, 150, 0.638);
    color: rgba(255, 255, 255, 0.674);
    
}

.num:hover{
    opacity: 1;
    transform: scale(1.09)
}
.equalBtn{
    background-color: rgba(158, 150, 150, 0.638);
    color: white;
    opacity: 0.8;
}
.equalBtn:hover{
    opacity: 1;
    transform: scale(1.09)
}
.expand{
 
  width: 10.5rem;
    border-radius:30px;
    grid-column: 1/3;

}